python-consul>=0.6.0
onap-dcae-dockering>=1.4.0
onap-dcae-dcaepolicy-lib>=2.4.1
cloudify-common>=5.0.0; python_version<"3"
cloudify-common @ git+https://github.com/cloudify-cosmo/cloudify-common@cy-1374-python3#egg=cloudify-common==5.0.0; python_version>="3"
